.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.titulo-container{
  margin: 20px;
}



button{
  background-color: orange;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  cursor: pointer;
  transition: .3s;
}

button:active{
  padding: 40px;
}